<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.zhanfg.colorosmonet.overlay.x"
    android:versionCode="1"
    android:versionName="1.0.0">
    <uses-sdk android:minSdkVersion="31" android:targetSdkVersion="35" />
    <overlay
        android:targetPackage="com.twitter.android"
        android:isStatic="false"
        android:priority="700" />
    <application
        android:allowBackup="false"
        android:hasCode="false"
        android:label="ColorOS Monet: x" />
</manifest>
