<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:allowBackup="false"
        android:hasCode="true"
        android:label="ColorOS 17 ART+ Generator"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material">
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="ColorOS 17 native expressive bridge plus local ART+ icon compiler." />
        <meta-data android:name="xposedminversion" android:value="82" />

        <activity
            android:name="dev.zhanfg.colorosmonet.bridge.ui.GeneratorActivity"
            android:exported="true"
            android:label="ColorOS ART+ Generator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
